<div class="article-page">
        <div class="content-area" *ngIf="article$ | async as article; else loading">


          <!-- section for the new -->
          <div class="the-new-info-section">
                  <!-- Details page for users and guests -->
                <h1>{{ article.title }}</h1>

                <div class="created-from-on">
                  <p><strong>Created from:</strong> <br>{{ createdByUsername }}</p>
                  <p><strong>Category:</strong> <br>{{ article.category }}</p> 
                <p><strong>Created on:</strong> <br>{{ article.time }} | {{ article.date }}</p>
              </div>
              
              <div class="image-and-content">

                <img [src]="article.imageUrl" alt="Article Image">

              <div class="article-content">
                <p><strong>Post Content:</strong></p>
                <p class="article-text">{{ article.summary }}</p>
              </div>
            </div>

             <!-- Page with Edit and Delete only for creators -->
                 
             <div class="edit-del-buttons" *ngIf="isCreator">
              <button class="edit" (click)="editArticle()">Edit New</button>
              <button class="delete" (click)="deleteArticle()">Delete New</button>
            </div>

              </div>

            


                <!-- comment section ! -->
              <div class="comment-section">
                <h3>Comments</h3>

                      <!-- for logged in users-->
                      <form #commentForm="ngForm">
                        <div class="comment-submiting-section" *ngIf="user$ | async as user; else loginPrompt">
                          <textarea 
                            name="comment" 
                            [(ngModel)]="newComment" 
                            #comment="ngModel"
                            minlength="10" 
                            maxlength="300" 
                            required 
                            placeholder="Add a comment..."
                          ></textarea>
                      
                          <p class="error-message" *ngIf="comment.errors?.['required'] && comment.touched">Comment is required.</p>
                          <p class="error-message" *ngIf="comment.errors?.['minlength'] && comment.touched">
                            Comment must be at least 10 characters.
                          </p>
                      
                          <button 
                            class="submit-button" 
                            [disabled]="!commentForm.valid" 
                            (click)="addComment()">Submit your comment
                          </button>
                        </div>
                      </form>
                      

                    <!-- all comments -->
                      
                      <ng-template #loginPrompt>
                        <p>You must be logged in to add a comment.</p>
                      </ng-template>
                      
                      <span class="counter-comments">({{  article.comments?.length || 0  }})</span>

                    
                    
                     <div class="all-comments">
                     
                      
                    <div *ngIf="article?.comments?.length > 0; else noComments">
                      
                        
                        <div class="all-comments-inner" *ngFor="let comment of article.comments">
                          
                          <p><span><strong>{{ comment.userName }}:</strong></span><span> {{ comment.timestamp | date: 'HH:mm:ss | dd.MM.yyyy' }}</span></p>
                          <span><p class="comment-content" >{{ comment.content }}</p></span>
                          
                        </div>
                     </div>

                     
                     <ng-template #noComments>
                      <p class="noComments">No comments yet !</p>
                    </ng-template>
                    </div>

                    

              </div>

                

        </div>

        <ng-template #loading>
          <app-loader></app-loader>
        </ng-template>

</div>