.articles-container {
  padding: 20px;
}

.article-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

.article-card img {
  max-width: 10%;
  height: auto;
  margin-top: 10px;
}