<div *ngIf="loading; else content">
  <app-loader></app-loader>
</div>

<ng-template #content>
<div class="create-page">
  <!-- Create Page (Only for logged-in users) -->
  <section id="create-page" class="auth">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <h1>Create New</h1>

        <label class="title" for="title">Title:</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          placeholder="Enter article title"
          required
        />
        <div *ngIf="createForm.get('title')?.touched && createForm.get('title')?.invalid" class="error">
          Title is required.
        </div>

        <div class="category">
          <label for="category">Category:</label>
          <select formControlName="category" id="category" required>
            <option value="">Select a category</option>
            <option value="Hardware">Hardware</option>
            <option value="Software">Software</option>
            <option value="Science">Science</option>
          </select>
          <div *ngIf="createForm.get('category')?.touched && createForm.get('category')?.invalid" class="error">
            Please select a category.
          </div>
        </div>

        <div class="image">
        <label for="image">Select an Image:</label>
        <input
          type="file"
          id="image"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </div>

        <div *ngIf="selectedImageUrl" class="image-preview">
          <p>Image Preview:</p>
          <img [src]="selectedImageUrl" alt="Selected Image" />
        </div>


        <label for="summary">Post Content:</label>
        <textarea
          id="summary"
          formControlName="summary"
          placeholder="Write your article content here..."
          rows="6"
          required
        ></textarea>
        <div *ngIf="createForm.get('summary')?.touched && createForm.get('summary')?.invalid" class="error">
          Summary must be at least 10 characters.
        </div>

        
        <button type="submit" [disabled]="createForm.invalid" class="btn submit">Create New</button>
      </div>
    </form>
  </section>
</div>
</ng-template>