.about-page {
    height: calc(100vh - 120px);
    min-height: 50px;
    text-align: center; 
    color: rgb(77, 62, 62);
    box-sizing: border-box;  
    /* padding-top: 50px;
    padding-bottom: 90px; */
}

.about-page h1 {
    margin: 0;
}