.about-page {
    height: calc(100vh - 196px);
    text-align: center;
    padding: 2rem; 
    color: rgb(77, 62, 62);
    box-sizing: border-box;  
    /* padding-top: 50px;
    padding-bottom: 90px; */
}

.about-page h1 {
    margin: 0;
}