<!-- About page for all users and guests -->

<div class="about-page">
    <h1>This is About page!</h1>
    <span>• TechNexus е динамичен информационен ресурс за новини, диалог и съвети за технологиите и тяхното приложение в бизнеса и личното пространство.
        В подбора на информация TechNexus се води от разбирането, че днес технологиите са задължителна част от живота на всички и колкото по-добре информирани сме, толкова по-качествено живеем.
        
        Всички материали в сайта са на разположение на посетителите безплатно. Не се толерират коментари, които демонстрират неуважение или тип вулгарен език.
        
        © 2024-2024 TechNexus БГ ЕООД. Всички права запазени. Възпроизвеждането на цели текстове, както и на части от текстове е позволено само с административно позволение на TechNexus и поставяне на връзки към TechNexus статията.</span>
    </div>