<header>
  <h1><a class="home" routerLink="/">Tech-news</a></h1>
  <nav>
    <ul>

      <!-- Visible all the time -->
      <li><a routerLink="/all-news">All news</a></li>

      <!-- only logged users -->
      <div *ngIf="isAuthenticated">
        <ul>
          <li><a routerLink="/add-new">Add new</a></li>
          <li><a [routerLink]="['/profile']"> {{ user.username }} 's Profile</a></li>
        </ul>
      </div>

      <!-- only logout users -->
      <div *ngIf="!isAuthenticated">
        <ul>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
        </ul>
      </div>

      <!-- Visible all the time -->
      <li><a routerLink="/about">About-us</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/users-list">User Stats</a></li>

      <!-- Visible when im a logged -->
      <div *ngIf="isAuthenticated"> 
        <li><a routerLink="/" (click)="logout()">Logout</a></li> 
      </div>

    </ul>
  </nav>
</header>
