<div class="loader" *ngIf="loading; else loaded">
  <app-loader></app-loader>
</div>

<div class="content-of-users">
<ng-template #loaded>
  <div class="user-stats-container">
    <h1>Registered Users and Article Statistics</h1>
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>Users</th>
          <th>From:</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Registered On</th>
          <th>Articles Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersWithStats; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.city }} <br> {{ user.country }} </td>
          <td>{{ user.age }} </td>
          <td>{{ user.gender }} </td>
          <td>
            <span class="date-label">Date:</span> {{ user.registeredOn | date: 'dd MMMM' }} 
            <span class="time-label">Time:</span> {{ user.registeredOn | date: 'HH:mm:ss' }} 
            <span class="year-label">Year:</span> {{ user.registeredOn | date: 'yyyy' }}
          </td>
          <td>{{ user.articleCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
</div>
