.user-stats-container {
  height: calc(100vh - 120px);
  text-align: center;
  padding-top: 20px;
  color: rgb(77, 62, 62);
  box-sizing: border-box;  
  /* padding-bottom: 960px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-size: 2.5rem;
    text-align: center;
}


table {
  font-size: 1.2rem;
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    
    border: 1px solid #550909;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  

  .date-label {
    color: #007bff;
  }
  
  .time-label {
    color: #28a745; 
  }
  
  .year-label {
    color: #dc3545;  
  }

  .loader {
    height: calc(100vh - 120px);
  }

 /* on 125% */
  @media screen and (max-width: 1800px) { 
    .user-stats-container {
      padding-bottom: 800px; 
    }
    table {
      width: 50%;
    }
  }

   /* on 175% */
   @media screen and (max-width: 1400px) { 
    table {
      width: 60%;
    }
  }

   /* on 200% */
   @media screen and (max-width: 1200px) { 
    table {
      width: 70%;
    }
  }

    /* on 250% */
    @media screen and (max-width: 1000px) { 
      .user-stats-container {
        padding-bottom: 1000px; 
      }
    }



 /* on 300% */
  @media screen and (max-width: 800px) { 
    .user-stats-container {
      padding-bottom: 1050px; 
    }
    table {
      width: 80%;
    }

  }

   /* on 400% */
  @media screen and (max-width: 600px) {
    .user-stats-container {
      padding-bottom: 1600px;
    }

    table {
      width: 90%;
    }

  } 


