.user-stats-container {
  height: calc(100vh - 196px);
  text-align: center;
  padding: 2rem; 
  color: rgb(77, 62, 62);
  box-sizing: border-box;  
  /* padding-top: 50px;
  padding-bottom: 90px; */
}

h1 {
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  

  .date-label {
    color: #007bff;  /* Blue color for Date */
  }
  
  .time-label {
    color: #28a745;  /* Green color for Time */
  }
  
  .year-label {
    color: #dc3545;  /* Red color for Year */
  }

  .loader {
    height: calc(100vh - 296px);
    font-size: 5rem;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }