.user-stats-container {
  height: calc(100vh - 120px);
  text-align: center;
  padding-top: 20px;
  color: rgb(77, 62, 62);
  box-sizing: border-box;  
  /* padding-bottom: 960px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-size: 2.5rem;
    text-align: center;
}


table {
  font-size: 1.2rem;
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    
    border: 1px solid #550909;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  

  .date-label {
    color: #007bff;
  }
  
  .time-label {
    color: #28a745; 
  }
  
  .year-label {
    color: #dc3545;  
  }

  .loader {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    height: calc(100vh - 320px);
    font-size: 5rem;
  }

/* on 125% */
  @media screen and (max-width: 1800px) { 
    .user-stats-container {
      padding-bottom: 800px; 
    }
  }

  /* on 200% */
@media screen and (max-width: 1200px) { 
  .loader {
    padding-top: 150px;
    padding-bottom: 50px;
  }
}

 /* on 250% */
 @media screen and (max-width: 1000px) {

  .loader {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

 /* on 300% */
  @media screen and (max-width: 800px) { 
    .user-stats-container {
      padding-bottom: 1050px; 
    }

    .loader {
      padding-top: 75px;
      padding-bottom: 124px;
    }
  }

   /* on 400% */
  @media screen and (max-width: 600px) {
    .user-stats-container {
      padding-bottom: 1600px;
    }

    .loader {
      font-size: 3rem;
      
      padding-top: 30px;
      padding-bottom: 100px;
    }
  }


