    <!-- Contact page for all users and guests -->
    <div class="contact-page">
        <h1>Contact Me</h1>
      
        <div class="contact-container">
          <!-- Picture -->
          <div class="profile-picture">
            <img src="../../assets/techNews.jpg" alt="pic" />
          </div>
      
          <!-- Personal Info -->
          <div class="contact-details">
            <p><strong>Email:</strong> <a href="mailto:alphacentauri6677@gmail.com">alphacentauri6677@gmail.com</a></p>
            <p><strong>Phone:</strong> <a href="tel:+359898245509">+359 898 245 509</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/MariusGeorgiev" target="_blank">MariusGeorgiev</a></p>
            <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/marius-georgiev-444aa6285" target="_blank">Marius-Georgiev</a></p>
            <p>
                <strong>Address:</strong>
                <a 
                  href="https://maps.app.goo.gl/6Y7mCCDwSXpazzdA6" 
                  target="_blank"
                >
                zh.k. Lyulin 1, ul. "General Vasil Kutinchev, 1343", Sofia, Bulgaria
                </a>
              </p>
          </div>
      
          <!-- Email Form -->
          <div class="email-form">
            <h2>Send Me a Message</h2>
            <form (submit)="onSubmit($event)">
              <label for="subject">Subject:</label>
              <input type="text" id="subject" name="subject" required />
      
              <label for="message">Message:</label>
              <textarea id="message" name="message" rows="6" required ></textarea>
      
              <button type="submit">Send Email</button>
            </form>
          </div>
      
          <!-- Google Map -->
          <div class="google-map">
            <h2>Find Me Here</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1465.4604439443951!2d23.25418687642453!3d42.726565169018386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDLCsDQzJzM1LjYiTiAyM8KwMTUnMTcuOCJF!5e0!3m2!1sen!2sbg!4v1734236297702!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
      