.contact-page {
    height: 100vh;
    text-align: center;
    padding: 2rem; /* Adds spacing around the content */
    color: rgb(77, 62, 62);
    box-sizing: border-box;  /* Prevents padding from causing overflow */
}

.contact-page h1 {
    margin: 0;
}