 <!-- Software Articles Page -->

 <div class="loader" *ngIf="loading; else content">
  <app-loader></app-loader>
</div>

<ng-template #content>
    <div class="software-articles-container">

      <ng-container *ngIf="articles.length > 0; else noNews">

          <h1>Software</h1>

          <!-- Article Counter -->
          <p class="article-count">
            Total News: <span>{{ articles.length }}</span>
          </p>

          <!-- Buttons to navigate to category pages -->
          <div class="category-buttons">
            <button (click)="navigateToCategory('hardware')">Hardware News</button>
            <button (click)="navigateToCategory('science')">Science News</button>
          </div>


          <!-- Articles List -->
          <div class="all-articles" *ngFor="let article of articles">

            <a class="aContainer" [routerLink]="['/details-article', article.id]">

              <div class="image-container">
                <img [src]="article.imageUrl" alt="Image for {{ article.title }}" class="article-image" />
                <div class="text-overlay">
                  <h2>{{ article.title }}</h2>
                  <p>{{ article.time }} | {{ article.date }}</p>
                </div>
              </div>

            </a>

          </div>

        </ng-container>

            <!-- Message when no articles are available -->
      <ng-template #noNews>
        <p class="no-news-message">
          No science news available at the moment. <br>
          Please check back later.
        </p>
      </ng-template>

    </div>
</ng-template>