<div class="edit-page">
  <section id="edit-page" class="auth">
    <form (ngSubmit)="saveArticle()">
      <div class="container">
        <h1>Edit Article</h1>

       
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Enter title..." [(ngModel)]="article.title" />

       
        <div class="category">
          <label for="category">Choose a category:</label>
          <br />
          <select name="category" id="category" [(ngModel)]="article.category">
            <option value="Hardware">Hardware</option>
            <option value="Software">Software</option>
            <option value="Science">Science</option>
          </select>
        </div>

        <div class="createAt">
          <p>Date of Creation: <span>{{ article.time }} | {{ article.date }} </span></p>
        </div>

        <div *ngIf="imagePreview">
          <img [src]="imagePreview" alt="Image Preview" style="max-width: 100%; border-radius: 8px;" />
        </div>

        <div class="changeImageButton">
        <p>
          <label for="fileUpload" class="custom-file-upload">
            Change article image
          </label>
          <input 
            id="fileUpload" 
            type="file" 
            (change)="onFileSelected($event)" 
            accept="image/*" 
            style="display: none;" />
        </p>
      </div>


        <label for="summary">Post content:</label>
        <textarea id="summary" name="summary" [(ngModel)]="article.summary"></textarea>

        
        <input class="btn submit" type="submit" value="Save changes" />
      </div>
    </form>


    <div *ngIf="isLoading" class="loader">
      <p>Saving changes...</p>
      <app-loader></app-loader>

    </div>

  </section>
</div>
