<div class="edit-page">
  <section id="edit-page" class="auth">
    <form (ngSubmit)="saveArticle()">
      <div class="container">
        <h1>Edit Article</h1>

       
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Enter title..." [(ngModel)]="article.title" />

       
        <div class="category">
          <label for="category">Choose a category:</label>
          <br />
          <select name="category" id="category" [(ngModel)]="article.category">
            <option value="Hardware">Hardware</option>
            <option value="Software">Software</option>
            <option value="Science">Science</option>
          </select>
        </div>

        
        <label for="imageFile">Upload Image:</label>
        <input
          type="file"
          id="imageFile"
          (change)="onFileSelected($event)"
        />

        
        <div *ngIf="imagePreview">
          <p>Image Preview:</p>
          <img [src]="imagePreview" alt="Image Preview" style="max-width: 100%; border-radius: 8px;" />
        </div>

        
        <label for="summary">Article:</label>
        <textarea id="summary" name="summary" [(ngModel)]="article.summary"></textarea>

        
        <input class="btn submit" type="submit" value="Save Changes" />
      </div>
    </form>
  </section>
</div>
