.loader {
  height: calc(100vh - 120px);
}

.profile-page {
    text-align: center;
    height: calc(100vh - 120px);
}

h1 {
  padding-top: 20px;
}

.p-info-and-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.profile-info {
  border-radius: 20px;
  border: solid rgb(179, 184, 245);
  padding: 40px;
  background-color: rgb(173, 172, 195);
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }

  .profile-picture > P {              
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .custom-file-upload {
    
    background-color: #8db28f; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;       
    cursor: pointer;
  }
  
  .custom-file-upload:hover {
    background-color: #45a049;
  }

  .profile-data {
    font-size: 1.4em;
    padding-bottom: 20px;
  }

  .profile-data > p {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }

  .data {
    font-size: 1em;
  }

  .update {
    font-size: 1.2em;
    background-color: #d88181; 
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;       
    cursor: pointer;
  }

  .update:hover {
    scale: 1.1;
    background-color: #af4c4c;
  }

  .mine-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .table-container {
    margin: 20px auto;
    min-width: 1100px;
    max-width: 1100px;
    max-height: 680px; 
    overflow-y: auto; 
    position: relative; 
  }

  table {
    min-width: 1080px;
    max-width: 1080px;
    table-layout: fixed;
    border-radius: 20px;
    padding-right: 10px;
  }

  .master-row {
    padding-right: 70px;

  }
  table th {
  position: sticky;
  top: 0; 
  z-index: 10;
  }
 
  th, td {
    padding: 10px;
    text-align: center;
  }

  .small-column-1 {
    width: 5.5%; 
  }
  .small-column-2 {
    width: 10.5%; 
  }

  .large-column {
    width: 60%; 
  }

  .small-column-3 {
    width: 8.5%; 
  }
  .small-column-4 {
    width: 7.5%; 
  }
  
  th {
    border: solid 1px rgb(122, 134, 209);
    background-color: #e0d8d8;
    font-size: 1.2em; 
  }
  
  td {
    margin: 10px;
    background-color: #a9abb9;
    font-size: 1.3em; 
    word-wrap: break-word;
    color: white;
  }
  
  .aTitle {
    display: block;
    font-size: 1.1em; 
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    word-wrap: break-word;
    white-space: normal; 
    min-width: 650px;
    max-width: 650px; 
    line-height: 1.4;
    padding-left: 35px;
    padding-right: 35px;
  }
  
  .aTitle:hover {
    color: #b63836;
    scale: 1.12;
    text-decoration: underline; 
  }
  
  th:nth-child(3), td:nth-child(3) { 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal; 
  }
  .no-news {
    font-size: 3em;
  }
  
  /* on 125% */
  @media screen and (max-width: 1800px) { 
    .profile-page {
      padding-bottom: 100px;
  }
  }
 
   /* on 150% */
   @media screen and (max-width: 1600px) { 
    .profile-page {
      padding-bottom: 300px;
  }
  .p-info-and-table {
    justify-content: space-evenly;
    gap: 0;
}
  }

   /* on 175% */
   @media screen and (max-width: 1400px) { 
    .profile-page {
      padding-bottom: 1100px;
  }
    .p-info-and-table {
      flex-direction: column;
  }
  }
