html, body {
  
  font-family: Arial, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  overflow-x: hidden; 
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(83, 66, 66, 0.3), rgba(160, 91, 91, 0.5));

  margin: 0;
  padding-top: 44px;
}

main {
  /* height: calc(100vh - 120px); */
/* padding-top: 44px;

padding-bottom: 76px; */

}

@media screen and (max-width: 800px) {
  body {
    padding-top: 0; /* Remove padding added for fixed headers */
  }
}