html, body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  overflow-x: hidden; 
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(83, 66, 66, 0.3), rgba(160, 91, 91, 0.5));
  margin: 0;
  padding-top: 44px;
}

@media screen and (max-width: 800px) {
  body {
    padding-top: 0;
  }
}