<!--Home Page-->
<section id="section-one">
    <div class="welcome-message">
      <h2>Only in our website</h2>
      <h2>Latest Tech-news</h2>
    </div>

    <div class="home-page-new-content">
      <h1>Latest News</h1>

      <div id="latest-news">
        <!--  information about last 3 news -->
        <div class="new">
          <div class="title"><a href="">Intel anonce the new 14900KS</a></div>
          

          <div class="image-wrap">
            <img src="../assets/intel 14900ks.jpg" />
          </div>
          <div class="data-buttons">
            <a routerLink="/details">details</a>
          </div>

          
        </div>

        <div class="new">
          
          <div class="title"><a href="">Samsung first PCe-e 5.0/4.0 consumer SSD</a></div>

          <div class="image-wrap">
            <img src="../assets/990evodisk.jpg" />
          </div>
          <div class="data-buttons">
            <a routerLink="/details">details</a>
          </div>

          
        </div>

        <div class="new">
          <div class="title"><a href="">LG 480/240hz dual mode monitor on the market</a></div>
  
          <div class="image-wrap">
            <img src="../assets/LG-DUALHZ-4K-OLED-MONITOR-BANNER-1.jpg" />
            
          </div>
          <div class="data-buttons">
            <a routerLink="/details">details</a>
          </div>

          
        </div>

        <!-- Display paragraph: If there is no news -->
        <!-- <p class="no-articles">No news yet</p> -->
      </div>
    </div>
  </section>