<div class="home-page">
      <section id="section-one">
<!-- 
        <div class="background-image">
          <img src="../../assets/Tech_Trends.jpg" alt="Background Image" />
        </div> -->

        <div class="welcome-message">
          <h2>Only in our website</h2>
          <h2>Latest Tech-news</h2>
        </div>

      <!-- latest news container -->
              <div class="home-page-new-content">
                <h1>Latest News</h1>

                <div id="latest-news">
                  <div *ngFor="let article of articles" class="new">
                    <div class="title">
                      <a [routerLink]="['/details-article', article.id]">{{ article.title }}</a>
                    </div>

                    <div class="image-wrap">
                      <img [src]="article.imageUrl" alt="Article image"/>
                    </div>

                    <div class="data-buttons">
                      <a [routerLink]="['/details-article', article.id]">Details</a>
                    </div>
                  </div>

                  <p *ngIf="articles.length === 0" class="no-articles">No news yet</p>
                </div>
              </div>
      </section>
</div>