<div class="home-page">

        <div class="welcome-message">
          <h1>Only in our website</h1>
          <h1>Latest Tech news</h1>
        </div>

      <!-- latest news container -->
        <div class="home-page-new-content">
              <h2>Latest News</h2>

              <div id="latest-news">

                <div *ngFor="let article of articles" class="new">

                  <a [routerLink]="['/details-article', article.id]">
                    <div class="image-wrap">
                      <img [src]="article.imageUrl" alt="Image for {{ article.title }}" class="article-image" />
                      <div class="title-overlay">{{ article.title }}</div>
                    </div>
                
                    <div class="data-buttons">
                      <button>Details</button>
                    </div>
                  </a>
 
                </div>

                <p *ngIf="articles.length === 0" class="no-articles">No news yet</p>

              </div>

        </div>

</div>